.search-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
}

.search-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.1, 1.1);
}

.search-item__title {
  font-size: 2rem;
}

.search-item__poster {
  object-fit: contain;
}

.search-item__poster img {
  width: 250px;
  height: 350px;
}
