.app {
  height: 100vh;
}

.app__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
  margin-top: 100px;
  height: calc(100vh - 100px);
}

.app__header {
  position: fixed;
  top: 0;
  height: 100px;
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://t4.ftcdn.net/jpg/03/08/74/25/240_F_308742558_NyrS0526M70ztbf2hWeToGvOKjbLRfJf.jpg");
}

.app__header a {
  text-decoration: none;
  color: #fff;
}

.app__search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.app__search-container input {
  height: 50px;
  margin: 0 auto;
  width: 100%;
  font-size: 2rem;
}

.app__search-results {
  flex-grow: 1;
  width: 100%;
}

.app__search-item {
  display: flex;
}
